{{- if .Values.configmaps.create }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "netbird.fullname" . }}-netbird-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "netbird.labels" . | nindent 4 }}
data:
  management.json: |
    {{- .Values.configmaps.managementJson | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "netbird.fullname" . }}-coturn-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "netbird.labels" . | nindent 4 }}
data:
  turnserver.conf: |
    {{- .Values.configmaps.turnserverConf | nindent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "netbird.fullname" . }}-letsencrypt-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "netbird.labels" . | nindent 4 }}
data:
  fullchain.pem: |
    {{- .Values.configmaps.letsencryptFullchain | nindent 4 }}
  privkey.pem: |
    {{- .Values.configmaps.letsencryptPrivkey | nindent 4 }}
{{- end }}